<h1>Edit recipe</h1>
{{!-- {{#each recipe}} --}}
<form class="edit-container" action="/edit?recipe_id={{recipe._id}}" method="POST">
  <label for="">Title:</label>
  <input type="text" name="title" value="{{recipe.title}}">

  <label for="">Creator:</label>
  <input type="text" name="creator" value="{{recipe.creator}}">

  <label for="">Ingredients:</label>
  <input type="text" name="ingredients" value="{{recipe.ingredients}}">

  <label for="">Duration:</label>
  <input type="number" name="duration" value="{{recipe.duration}}">

  <input type="submit" value="Edit">
</form>
{{!-- {{/each}} --}}