<h1>Recipes</h1>
<a href='/addNewRecipe'><button type="submit">Add recipe</button></a>
<a href='/addCook'><button type='submit'>Add cook</button></a>
<div class="index-container">
{{#each recipes}}
<div>
    <img src='{{image}}'>
    <h3>{{title}}</h3>
    <p>{{level}}</p>
    <p>{{cuisine}}</p>
    <a href='/recipe/{{_id}}'>more</a>
</div>
{{/each}}
</div>