<h1>{{recipe.title}}</h1>
<p>Chef: {{recipe.creator.firstName}} {{recipe.creator.lastName}}</p>
<p>Level: {{recipe.level}}</p>
<p>Duration: {{recipe.duration}}</p>
<img src="{{recipe.image}}">
<ul>
{{#each recipe.ingredients}}
<li>{{this}}</li>
{{/each}}
</ul>
<a href="/edit?recipe_id={{recipe._id}}"><input type="button" value="Edit"></a>
<a href="/delete?recipe_id={{recipe._id}}"><input type="button" value="DELETE"></a>